* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

iframe {
    background-color: white;
    background-image: url('../images/loading.gif');
    background-size: 24px 19px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.border {
    border: 1px solid #777;
    position: fixed;
    height: calc(100% - 32px);
    width: calc(100% - 2px);
    pointer-events: none;
}

