body > div._10._4ebx.uiLayer._4-hy._3qw > div._59s7 {
    margin: 0;
    margin-top: 241px;
    width: 320px !important;
}

body > div._10._4ebx.uiLayer._4-hy._3qw > div._59s7 div._374c {
    display: none;
}

#u_0_0 > div > div > div._1q5- {
    opacity: 0;
}


