.manager {
    height: calc(100% - 30px);
    width: 800px;
    overflow: hidden;
}

.manager.small {
    width: 300px;
}

.background {
    position: fixed;
    top: 30px;
    z-index: -1;
    background: white;
    height: 100%;
    width: 100%;
}

